apiVersion: v1
kind: Config

clusters:
  - cluster:
      server: {{ master_address }}
    name: kubernetes

users:
  - name: kubelet

current-context: kubelet-to-kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: kubelet
    name: kubelet-to-kubernetes
