{% macro etcd_servers() -%}
    {%- for server in etcd_nodes -%}
        {{ server }}{% if not loop.last %},{% endif %}
    {%- endfor -%}
{%- endmacro %}


KUBE_APISERVER_ARGS=" \
    --etcd-servers={{ etcd_servers() }} \
    --service-cluster-ip-range={{ host.data.kubernetes_service_cidr }} \
    --insecure-port=80 \
    --insecure-bind-address=0.0.0.0 \
"
